# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.env

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database (if using SQLite for dev)
*.sqlite3

# Deployments
build.sh
render.yaml
nixpacks.toml
Procfile
railway.json